@import "src/less/global/base_buttons.less";
@import "src/less/global/modules/hero.less"; // KPBS Passport top banner with purple circle to left
@import "src/less/global/modules/image-text-zigzag.less"; // Zig Zag grid of image/text
@import "src/less/global/modules/passport-table.less"; // passport table
@import "src/less/global/modules/banner-img-text.less"; // Banner with image on left and list on right
@import "src/less/global/modules/passport-steps.less"; // Banner with image on left and list on right
@import "src/less/global/modules/device-banner.less"; // Banner for Mockup
@import "src/less/global/modules/passport-faq.less"; // Banner for Mockup

// footer

.pp-footer {
    color: #fff;
    text-align: center;

    &__wrapper {
        &__poster {
            width: 100%;
            background-position: initial;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../img/grid.jpg);
            box-shadow: inset 0 0 0 1000px rgba(0,0,0,.75);
            padding: 60px 30px;
            &--content {
                &--text {
                    img {
                        display: block;
                        margin: 0 auto 30px;
                    }
                    p {
                        margin: 0;
                    }
                }

                &--cta {
                    a {
                        margin: 30px 0;
                    }
                }

                &--icons {
                    &--row {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                }
            }
        }

        &__support {
            &__links {
                &--content {}
            }
        }

        &__devices {}

        &__help {}
    }
}