/* 
=====================================================================
Steps
=====================================================================
*/
.passport-steps {
    padding: 60px 15px;
    text-align: center;
    background-color: #FAFAFA;

    &__wrapper {


        &__body {
            &__items {
                display: flex;
                flex-direction: row;

                &__item {
                    &--svg {}

                    &--text {
                        span {
                            background-color: @btn-purple;
                            color: #fff;
                            padding: 5px 10px;
                            display: inline-block;
                            border-radius: 50px;
                            font-size: 14px;
                            margin: 10px 0;
                        }

                        a {
                            color: @btn-purple;
                            font-size: 14px;

                            svg {
                                height: 10px;
                            }
                        }

                        p {
                            margin: 10px 0 0 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1000px) {}

@media (max-width: 768px) {
    .passport-steps {
        padding: 40px 15px;
        text-align: center;
    }

    .passport-steps__wrapper__body__items {
        flex-direction: column;
        gap: 30px;

        &__arrow {}

        .passport-steps__wrapper__body__items--arrow {
            transform: rotate(90deg);
            /* Equal to rotateZ(45deg) */
            margin: 20px 0;
        }
    }
}

@media (max-width: 475px) {}